:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Black-bg: hsl(0, 0%, 0%, 75%);
  --fontsize: 16px;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: "Kumbh Sans", var(--system-ui);
}

.removeButton {
  background: center no-repeat url("../assets/images/icon-delete.svg");
  width: 25px;
  height: 25px;
  border: none;
}

p,
h2 {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
  height: 100px;
}

.headerLogo,
.headerAction,
.headerLink,
.headerLink > div {
  display: flex;
  align-items: center;
}

#headerCartProfile {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  border: 2px solid var(--Orange);
}

#headerCartProfile > img {
  height: 50px;
  width: 50px;
}

#headerCartBtn {
  border: none;
  background: none;
  margin-right: 50px;
}

#iconCart > path:hover {
  fill: black;
}

.headerLink {
  gap: 25px;
  margin-left: 75px;
}

#headerCartAmount {
  position: relative;
  right: 65px;
  bottom: 18px;
  border-radius: 25px;
  padding: 0 5px;
}

.headerLink > div {
  height: 55px;
}

a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
}

a:hover {
  color: var(--Very-dark-blue);
}

.headerLink > div:hover {
  border-bottom: 1px solid var(--Orange);
}

.body,
.thumbnailContainer,
.footerModal {
  display: flex;
}

.body {
  width: 100vw;
}

.productImageContainer {
  width: 50%;
}

.productActionContainer {
  width: 30%;
}

.largeProductImage {
  display: flex;
  justify-content: center;
}

#largeImage,
.thumbnailImage {
  border-radius: 25px;
}

#largeImage {
  width: 500px;
}

.thumbnailImage {
  width: 100px;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}

.companyText {
  margin: 50px 0 30px;
}

.companyText,
.productDescText {
  color: var(--Dark-grayish-blue);
}

.productNameText {
  font-size: 50px;
  margin-bottom: 40px;
}

.productDescText {
  margin-bottom: 30px;
}

.containerPriceText {
  display: flex;
  align-items: center;
}

.containerPriceText {
  gap: 30px;
  margin-bottom: 20px;
}

.productPriceText {
  font-weight: bolder;
  font-size: 30px;
}

.containerDiscountText {
  padding: 3px 10px;
  background-color: var(--Black);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
